<div class="card" data-bookmark-guid="{{ bookmark.guid }}">
  <div class="card-body">
    <h6 class="card-title">{{ bookmark.page.title }}</h6>
    <p class="card-text">{{ bookmark.page.description }}</p>
    <a href="{% url 'show-bookmark' bookmark.guid %}" class="card-link">
      <i class="far fa-bookmark"></i>
    </a>
    <span data-href="{% url 'ajax-scrape-bookmark' bookmark.guid %}"
          data-event="scrape-bookmark"
          data-bookmark-guid="{{ bookmark.guid }}">
            <i class="fas fa-magic" style="cursor: pointer"></i>
        </span>
    <span data-href="{% url 'ajax-handle-bookmark' bookmark.guid %}"
          data-event="delete-bookmark"
          data-bookmark-guid="{{ bookmark.guid }}">
            <i class="far fa-trash-alt"></i>
        </span>
    <a href="{{ bookmark.url }}"
       target="_blank"
       class="card-link">
      <i class="fas fa-external-link-alt"></i>{{ bookmark.url }}
    </a>
  </div>
</div>
