<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smart Bookmarks</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <script type="text/javascript">

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function setCsrfHeader(data, settings, xhr) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
            }
        }

        $(document).ready(function() {
            $('[data-event="delete-bookmark"]').on('click', function(e) {
                e.preventDefault();
                var $bookmark = $(this);
                $.ajax($bookmark.data('href'), {
                    dataType: 'html',
                    method: 'DELETE',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
                    }
                }).done(function(data) {
                    $('#toasts').replaceWith($(data).find('#toasts'));
                    $('.toast').toast('show');

                    $(`[data-bookmark-guid="${$bookmark.data('bookmark-guid')}"]`).remove();
                });
            });

            $('[data-event="scrape-bookmark"]').on('click', function(e) {
                e.preventDefault();
                var $bookmark = $(this);
                $.ajax($bookmark.data('href'), {
                    dataType: 'html',
                    method: 'POST',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
                    }
                }).done(function(data) {
                    $('#toasts').replaceWith($(data).find('#toasts'));
                    $('.toast').toast('show');
                });
            });
        });

    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand" href="{% url 'add-bookmark' %}">Smart bookmarks</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add-bookmark' %}">Add</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list-bookmarks' %}">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'search-bookmarks' %}">Search</a>
          </li>
        </ul>
      </div>
      </nav>

    {% include "ui/fragments/toasts_container.html" %}

    <div class="container">
    {% block body %}
    {% endblock body %}
    </div>

</body>
</html>
